[submodule "rust_native_storage_library"]
	path = rust_native_storage_library
	url = https://github.com/second-state/rust_native_storage_library.git
[submodule "wasmedge-core"]
	path = wasmedge-core
	url = https://github.com/second-state/wasmedge-core.git
